*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 999;
}
ul li{
    list-style-type: none;
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: black;
}
.container{
    height: 100vh;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
#shoe-one{
    background-color: red;
    color: yellow;
}
#shoe-two{
    background-color: seagreen;
    color: yellow
}
#shoe-three{
    background-color: steelblue;
    color: green;
}
h1{
    
}