*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 999;
}
ul li{
    list-style-type: none;
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
ul li:hover{
    box-shadow:  0px 2px 2px 2px rgba(0,0,0,.6)
}

.container{
    height: 100vh;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.container img{
    height: 50vh;
    width: auto;
    margin-top: 5%;
}
#shoe-one{
    background-color: #B0171F;
    color: #FFD700;
}
#shoe-two{
    background-color: seagreen;
    color: #FFD700;
}
#shoe-three{
    background-color: steelblue;
    color: 	#FFFFE0;
